 html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
body {
background: #497eb2;
}
h1{
	text-align:center;
	font-family: "Calibri";
	font: 24pt;
	color: #191970;
}
h2{
	font-family: "Calibri";
	font: 20pt;
	color: #191970;
}
p{
	font-family: "Calibri";
	font-size: 12pt;
	color: #191970;

}
ul{
	font-family: "Calibri";
	font: 28pt;

}
input{
	text-align:center;
	margin-left: 35%;
  	font-size:24px;
}

#logo{
	width:200px;
}
#main {
width:1000px;
height: 450px;
background: #FFFAFA;
font-family: "Calibri";
margin: 25px auto;
border: solid 2px #191970;
padding: 10px;	
}
#title {
width:1000px;
height: 80px;
background: #FFFAFA;
font-family: "Calibri";
margin: 25px auto;
border: solid 2px #191970;
padding: 10px;	
}
#result {
width:1000px;
height: 200px;
background: #FFFAFA;
font-family: "Calibri";
margin: 25px auto;
border: solid 2px #191970;
padding: 10px;	
}
#explanation {
width:1000px;
height: 230px;
background: #FFFAFA;
font-family: "Calibri";
margin: 25px auto;
border: solid 2px #191970;
padding: 10px;	
}
#survey{
width:1000px;
height: 100px;
background: #FFFAFA;
font-family: "Calibri";
margin: 25px auto;
border: solid 2px #191970;
padding: 10px; 
}
#next_experiment {
width:1000px;
height: 110px;
background: #FFFAFA;
font-family: "Calibri";
margin: 25px auto;
border: solid 2px #191970;
padding: 10px;	
}
#next{
  position:relative;
  width:115px;
  color: #FFFAFA;
  background-color:#4c7cb3;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;

}
#previous{
  margin-left: 35%;
  color: #FFFAFA;
  background-color:#4c7cb3;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}



#circle {
    width: 100px;
    height: 100px;
    background: red;
   	border-radius: 50%
}
#father_container{
  position: relative;
}